* {
  padding: 0;
  margin: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

/* Common css end */

.one {
  width: 200px;
  height: 300px;
  background: blue;
  margin-bottom: 10px;
}

.two {
  width: 600px;
  height: 300px;
  background: green;
  position: relative;
  margin: 0 auto;
}

.three {
  width: 150px;
  height: 150px;
  background: red;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(
    -50%,
    -50%
  );
}

/* Drop-down Menu CSS*/
.main_menu {
  height: 80px;
  background: skyblue;
  padding: 0 120px;
}

.main_menu h1{
  color: #f1f1f1;
  font-size: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 80px;
  float: left;
}

.main_menu ul{
  float: right;
}

.main_menu ul li{
  float: left;
}

.main_menu ul li a {
  color: #333;
  font-size: 20px;
  font-weight:600;
  font-family:fantasy;
  line-height: 80px;
  margin-left: 30px;
}
